.aboutContent {
    background-color: #e0e0e0;
    height: 100vh;
    width: 100%;
    word-break: keep-all;
}

.aboutBox {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUp {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}

.upText {
    font-size: 60px;
}

.upImg {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: white;
}

.aboutMiddle {
    margin-top: 30px;
    font-size: 18px;
    word-break: keep-all;
    line-height: 30px;
    text-align: justify;
}

.aboutDown > i {
    padding: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}