.container {
    height: 100vh;
    width: 100%;
}

.lastContainer {
    height: 110vh;
    width: 100%;
}

.liTitle {
    font-weight: 600;
    font-size: 15px;
    margin: 8px;
}

.sectionBox {
    border-left: 3px solid rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    height: 100%;
    width: 60%;
}

.ul {
    list-style: none;
    padding: 40px 0 0 20px;
    width: 40%;
    position: relative;
    top: 25%;
}

.ul span {
    display: inline-block;
    margin: 0 8px;
    opacity: .75;
    text-transform: uppercase;
}

.column {
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.column a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 3px;
    transition: all .3s ease;
}

.column a, .column p {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.column p {
    margin: 5px 8px;
    width: 70%;
}

.column a:hover {
    border-bottom: 1px solid #000;
}

.column:hover {
    margin-left: 15px;
}