.navBox {
    position: fixed;
    top: 40%;
    right: 10%;
}

.navBar {
    list-style: none;
}

.navBar a {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.active {
    background-color: #ccc;
}

