* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
    height: 100vh;
}

.App {
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
}

