.myInfo {
    width: 50%;
    margin: 7vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoImg {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
}

.infoName {
    background-color: #000;
    width: 200px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    border-left: red 3px solid;
    border-right: blue 3px solid;
    margin: 30px 0;
}

.infoText {
    padding-top: 0.7cm;
    font-size: 16px;
    line-height: 30px;
}

.infoText a, 
.infoText a:visited,
.infoText a:active,
.infoText a:focus {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    padding-bottom: 3px;
    transition: all .3s ease;
}

.infoText a:hover {
    border-bottom: 1px solid #000;
}